/* sustilizuoti checkboxa */
#custom-size-form #custom-field-btn {
  cursor: pointer;
  border: 1px solid #babfc3;
  padding: 5px 15px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}
#custom-size-form #custom-field-btn:hover {
  background: #f6f6f7;
}

.measurment {
  position: absolute;
}

#rectangles-form {
  width: auto;
  display: grid;
  gap: 1px;
}
#rectangles-form input[type=checkbox] {
  display: inline-block;
  margin: 0px;
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #EEF0E5;
}
#rectangles-form input[type=checkbox][data-group="1"] {
  background-color: hsl(15, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="2"] {
  background-color: hsl(30, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="3"] {
  background-color: hsl(45, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="4"] {
  background-color: hsl(60, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="5"] {
  background-color: hsl(75, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="6"] {
  background-color: hsl(90, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="7"] {
  background-color: hsl(105, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="8"] {
  background-color: hsl(120, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="9"] {
  background-color: hsl(135, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="10"] {
  background-color: hsl(150, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="11"] {
  background-color: hsl(165, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="12"] {
  background-color: hsl(180, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="13"] {
  background-color: hsl(195, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="14"] {
  background-color: hsl(210, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="15"] {
  background-color: hsl(225, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="16"] {
  background-color: hsl(240, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="17"] {
  background-color: hsl(255, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="18"] {
  background-color: hsl(270, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="19"] {
  background-color: hsl(285, 100%, 60%);
}
#rectangles-form input[type=checkbox][data-group="20"] {
  background-color: hsl(300, 100%, 60%);
}
#rectangles-form input[type=checkbox]:checked {
  border: 1px solid black;
}
#rectangles-form input[type=checkbox]:checked.top {
  border-top: none;
}
#rectangles-form input[type=checkbox]:checked.bottom {
  border-bottom: none;
}
#rectangles-form input[type=checkbox]:checked.right {
  border-right: none;
}
#rectangles-form input[type=checkbox]:checked.left {
  border-left: none;
}/*# sourceMappingURL=style.css.map */